In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [2]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
data = data.drop(columns='id')
data = data.drop(columns='Residence_type')

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data['gender']= le.fit_transform(data['gender'])
data['ever_married']= le.fit_transform(data['ever_married'])
data['work_type']= le.fit_transform(data['work_type'])
data['smoking_status']= le.fit_transform(data['smoking_status'])

In [5]:
data.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
rerata_bmi = data['bmi'].mean()

In [7]:
data['bmi'] = data['bmi'].fillna(rerata_bmi)

In [8]:
data.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [9]:
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,228.69,36.600000,1,1
1,0,61.0,0,0,1,3,202.21,28.893237,2,1
2,1,80.0,0,1,1,2,105.92,32.500000,2,1
3,0,49.0,0,0,1,2,171.23,34.400000,3,1
4,0,79.0,1,0,1,3,174.12,24.000000,2,1

In [10]:
y = data['stroke']
x = data.drop(columns='stroke')

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [12]:
from sklearn.naive_bayes import GaussianNB

model_nb = GaussianNB()
y_pred_nb = model_nb.fit(x_train, y_train).predict(x_test)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

model_knn = KNeighborsClassifier(n_neighbors=7)
model_knn.fit(x_train, y_train)
y_pred_knn = model_knn.fit(x_train, y_train).predict(x_test)

C:\Users\Rakha Satria Putra\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [14]:
y_pred_knn

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [15]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

akurasiKNN = classification_report(y_test, y_pred_knn) 
akurasiNB = classification_report(y_test, y_pred_nb)
mse_nb = mean_squared_error(y_test, y_pred_nb)
mse_knn = mean_squared_error(y_test, y_pred_knn)
accKNN = accuracy_score(y_test, y_pred_knn)
accNB = accuracy_score(y_test, y_pred_nb)

print("MSE NB  : ", round(mse_nb, 4) * 100, "%")
print("MSE KNN : ", round(mse_knn, 4) * 100, "%")
print(akurasiKNN)
print(akurasiNB )
print("Acc NB  : ", accNB )
print("Acc KNN : ", accKNN )

MSE NB  :  12.04 %
MSE KNN :  5.09 %
              precision    recall  f1-score   support

           0       0.95      0.99      0.97       974
           1       0.17      0.02      0.04        48

    accuracy                           0.95      1022
   macro avg       0.56      0.51      0.51      1022
weighted avg       0.92      0.95      0.93      1022

              precision    recall  f1-score   support

           0       0.97      0.90      0.93       974
           1       0.19      0.48      0.27        48

    accuracy                           0.88      1022
   macro avg       0.58      0.69      0.60      1022
weighted avg       0.94      0.88      0.90      1022

Acc NB  :  0.8796477495107632
Acc KNN :  0.949119373776908